@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --fixed-bar-height: 2rem;
  --angebot-separator-offet-y: 3rem;
  --angebot-section-offset-y: calc(var(--angebot-separator-offet-y) - 1rem);
  @media screen and (min-width: 40rem) {
    --angebot-separator-offet-y: 6rem;
    --angebot-section-offset-y: calc(var(--angebot-separator-offet-y) - 2rem);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 125%; /* 1rem = 20px */
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  font-family: 'Open Sans', sans-serif;
  main {
    flex: 1;
  }
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  cursor: pointer;
}
/* prettier-ignore */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
p {
  max-width: 66ch;
  line-height: 1.5;
  overflow-wrap: break-word;
}
a {
  color: inherit;
  font: inherit;
  text-decoration: none;
  &:focus {
    outline: none;
  }
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
menu {
  list-style: none;
}
/* SITE */

.content {
  margin: 0 auto;
  width: 100%;
  max-width: min(100%, 54rem);

  @media screen and (min-width: 40rem) {
    padding-right: 0 !important;
    padding-left: 0 !important;
    max-width: min(80%, 54rem);
  }
}

/* ANIMATIONS */
@keyframes moveUp {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
