---
import Layout from '@/layouts/Layout.astro';
import { getImage } from 'astro:assets';
import hero from '@/images/Workshop-computer-in-service.jpg';
import { getCollection } from 'astro:content';
import angebotBg from '@/images/mechanic-replace-tires-on-wheels.jpg';
import { Icon } from 'astro-icon/components';

const optHero = await getImage({
  src: hero,
  format: 'webp',
  quality: 100,
  loading: 'eager',
});
const optAngebot = await getImage({
  src: angebotBg,
  format: 'webp',
  quality: 100,
  loading: 'lazy',
});
const articles = await getCollection('articles');
const services = await getCollection('services');
const presentation = articles.find((a) => a.slug === 'presentation');
if (!presentation) throw new Error('presentation not found');
const { Content: Presentation } = await presentation.render();
---

<Layout title="Ihr KFZ-Meisterbetrieb in Sindelfingen">
  <!-- SECTION HERO -->
  <section class="hero">
    <div
      class="hero-image"
      style={`background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(23, 63, 96, 0.53) 100%), url(${optHero.src})`}
    >
    </div>
    <div class="hero-content">
      <div class="hero-text" data-anim="moveUp"><Presentation /></div>
      <div class="hero-cards">
        <div class="card card-transfert">
          <div class="card-content" data-anim="moveRight">
            <h2>Wir sind umgezogen:</h2>
            <p>Neckarstrasse 12<br />71065 Sindelfingen</p>
          </div>
        </div>
        <div class="card card-offert">
          <div class="card-content" data-anim="moveLeft">
            <h2>Reifeneinlagen</h2>
            <p>Profitieren Sie von unseren Eröffnungsrabatten.</p>
            <a href="/reifeneinlagerung">mehr Infos</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END SECTION HERO -->

  <div class="separator separator-top"></div>

  <!-- SECTION ANGEBOT -->
  <section
    id="angebot"
    class="clip-trap"
    style={`background-image: linear-gradient(180deg,#1221a8 0%,rgba(18,33,168,0.57) 70%),url(${optAngebot.src})`}
  >
    <h2 data-anim="moveDown">Unser vielfältiges Angebot</h2>
    <div class="content">
      <div class="text-right" data-anim="moveRight">
        <h3>HU und AU</h3>
        <p>Montag, Mittwoch und Freitag von 09:00 – 12:00 Uhr</p>
        <p>
          nimmt bei unserer Freien Werkstatt der TÜV Ihr Auto ganz genau unter
          die Lupe<br />
          und führt die fällige Hauptuntersuchung durch.
        </p>
        <p>
          Ihr Vorteil bei uns: wenn es etwas zu tun gibt,<br />
          werden Reparaturen gleich durchgeführt.
        </p>
        <p>Außerdem überprüft ein modernes AU-Gerät die Abgaswerte!</p>
      </div>
      <div class="services-list">
        <ul class="services services-list-1">
          {
            services
              .slice(0, Math.ceil(services.length / 2))
              .map((service, idx) => {
                return (
                  <li
                    data-anim="moveRight"
                    style={`animation-delay: ${idx * 0.3}s`}
                  >
                    <Icon class="icon" name="mdi:check-circle" />{' '}
                    {service.data.text}
                  </li>
                );
              })
          }
        </ul>
        <ul class="services services-list-2">
          {
            services
              .slice(Math.ceil(services.length / 2))
              .map((service, idx) => {
                return (
                  <li
                    data-anim="moveLeft"
                    style={`animation-delay: ${idx * 0.5}s`}
                  >
                    <Icon class="icon" name="mdi:check-circle" />{' '}
                    {service.data.text}
                  </li>
                );
              })
          }
        </ul>
      </div>
    </div>
  </section>
  <div class="separator separator-bottom"></div>
  <!-- END SECTION ANGEBOT -->

  <!-- CONTACT CARDS -->
  <section id="infos" class="contact-cards clip-top">
    <div class="card card-address" data-anim="zoomIn">
      <Icon class="icon" name="ion:home" />
      <h3>Adresse</h3>
      <p>Neckarstrasse 12<br />71065 Sindelfingen</p>
    </div>
    <div class="card card-phone" data-anim="zoomIn">
      <Icon class="icon" name="mdi:phone" />
      <h3>Telefon</h3>
      <p><a href="tel:+49070316790837">+49 07031 6790837</a></p>
      <h3>Mobil</h3>
      <p><a href="tel:+4901724411567">+49 0172 44 11 567</a></p>
    </div>
    <div class="card card-clock" data-anim="zoomIn">
      <Icon class="icon" name="mdi:clock" />
      <h3>Öffnungszeiten</h3>
      <p>Mo-Fr 8.00 – 17.00 Uhr<br />Sa 9.00 – 13.00 Uhr</p>
    </div>
    <div class="card card-email" data-anim="zoomIn">
      <Icon class="icon" name="mdi:email" />
      <h3>Email</h3>
      <p><a href="mailto:info@carklinik24.de">info@carklinik24.de</a></p>
    </div>
  </section>
  <!-- END CONTACT CARDS -->

  <!-- SECTION MAP -->
  <section id="anfahrt">
    <iframe
      data-anim="zoomIn"
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2633.117451343349!2d9.003044576732176!3d48.703236011612304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4799e0721b72b78f%3A0x601c90b4ca137065!2sCarklinik%20Meisterwerkstatt%20B%C3%B6blingen!5e0!3m2!1sit!2sit!4v1769683512723!5m2!1sit!2sit"
      width="800"
      height="600"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
  <!-- END SECTION MAP  -->

  <!-- BUTTON UP  -->
  <div id="btn-up">
    <a href="#top">
      <Icon name="mdi:chevron-up-circle" />
    </a>
  </div>
  <!-- END BUTTON UP  -->
</Layout>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .hero-image {
      background-position: center;
      background-size: cover;
      height: 15rem;
    }
    .hero-content {
      font-family: 'Lato', sans-serif;
      p {
        color: #666;
        font-weight: 500;
        font-size: 0.8rem;
      }
      .hero-text {
        padding: 2.5rem 1rem;
        h1 {
          margin-bottom: 1rem;
          font-weight: 700;
          font-size: 1.5rem;
        }
        p {
          padding-bottom: 0.8rem;
          font-size: 0.8rem;
          line-height: 1.8;
        }
      }
      .hero-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        .card {
          flex: 1;
          .card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding: 2.5rem 0;
            overflow: clip;
            h2 {
              font-weight: 700;
              font-size: 1.15rem;
            }
            p {
              padding: 0 0.5rem;
              text-align: center;
            }
          }
          &.card-transfert {
            background: #becedb;
          }
          &.card-offert {
            background: #ccd8e5;

            a {
              display: inline-block;
              position: relative;
              transition: 0.4s ease;
              border-radius: 5rem;
              background: #ffffff66;
              padding: 0.5rem 1rem;
              color: #455860;
              font-weight: 700;
              font-size: 0.9rem;
              &:hover {
                transform: scale(1.05);
                box-shadow: 0 2px 0.5rem #00000033;
              }
              &:active {
                transform: scale(1);
                box-shadow: none;
              }
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
    @media screen and (min-width: 40rem) {
      .hero-content {
        .hero-text {
          padding: 2.5rem;
        }
        .hero-cards {
          flex-direction: row;
        }
      }
    }
    @media screen and (min-width: 80rem) {
      flex-direction: row;
      .hero-image {
        flex: 1;
        height: initial;
      }
      .hero-content {
        flex: 1;
        .hero-text {
          padding: 4rem 3rem;
        }
      }
    }
  }

  .separator {
    background: linear-gradient(
      180deg,
      #1221a8 0%,
      rgba(18, 33, 168, 0.57) 70%
    );
    width: 100%;
    &.separator-top {
    }
    &.separator-bottom {
      background: #345168aa;
    }
  }
  /* Angebot */
  section#angebot {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem 1.5rem;
    color: #fff;
    font-family: 'Lato', sans-serif;
    h2 {
      margin-bottom: 4rem;
      font-weight: 700;
      font-size: 1.8rem;
      text-align: center;
      text-transform: uppercase;
    }
    .text-right {
      text-align: right;
      h3 {
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 0.9rem;
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }
    .services-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2rem 0;
      font-size: 0.8rem;
      .services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.3rem;
        width: 100%;
        list-style: none;
        li {
          display: flex;
          align-items: center;
          gap: 1rem;
          .icon {
            font-size: 1.2rem;
          }
        }
      }
    }
    @media screen and (min-width: 40rem) {
      .content {
        .services-list {
          flex-direction: row;
          .services {
            flex: 1;
          }
        }
      }
    }
    @media screen and (min-width: 80rem) {
      padding: 10rem;
      .content {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        .services-list {
          padding: 0;
        }
      }
    }
  }
  section.contact-cards {
    background: #345168;
    color: #fff;
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      background: linear-gradient(180deg, #1221a8 0%, #345168 70%);
      padding: 6rem 0;
      .icon {
        font-size: 2rem;
      }
      a {
        color: lch(85% 48.64 264.35);
      }
      &.card-address {
        background: linear-gradient(180deg, #345168 0%, #486b91 70%);
      }
      &.card-phone {
        background: linear-gradient(180deg, #345168 0%, #5f82a8 70%);
      }
      &.card-clock {
        background: linear-gradient(180deg, #345168 0%, #486b91 70%);
      }
      &.card-email {
        background: linear-gradient(180deg, #345168 0%, #5f82a8 70%);
      }
    }
    @media screen and (min-width: 40rem) {
      display: flex;
      flex-wrap: wrap;
      .card {
        min-width: 50%;
      }
    }
    @media screen and (min-width: 60rem) {
      .card {
        min-width: 25%;
      }
    }
    @media screen and (min-width: 80rem) {
      padding: 3rem 0 0;
    }
  }

  #anfahrt {
    width: 100%;
    height: 20rem;
    .map {
      width: 100%;
      height: 100%;
    }
  }

  #btn-up {
    display: none;
    position: fixed;
    right: 0.5rem;
    bottom: 6rem;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #999999aa;
      font-size: 2rem;
    }
    @media screen and (min-width: 40rem) {
      right: 1rem;
    }
  }
</style>

<script>
  import { animate } from '../utils/functions';
  animate();

  const infosEl = document.getElementById('infos') as HTMLDivElement;
  const btnUpEl = document.getElementById('btn-up') as HTMLAnchorElement;

  const windowHeight = document.documentElement.clientHeight;

  function onScroll() {
    const btnUpTriggerElDistanceFromtop = infosEl.getBoundingClientRect().top;
    if (btnUpTriggerElDistanceFromtop < windowHeight - 200) {
      btnUpEl.style.display = 'block';
    } else {
      btnUpEl.style.display = 'none';
    }
  }
  onScroll();
  document.addEventListener('scroll', onScroll);
</script>
