---
import Layout from '@/layouts/Layout.astro';
import { getImage } from 'astro:assets';
import hero from '@/images/Workshop-computer-in-service.jpg';
import { getCollection } from 'astro:content';
import angebotBg from '@/images/mechanic-replace-tires-on-wheels.jpg';
import { Icon } from 'astro-icon/components';

const optHero = await getImage({
  src: hero,
  format: 'webp',
  quality: 100,
  loading: 'eager',
});
const optAngebot = await getImage({
  src: angebotBg,
  format: 'webp',
  quality: 100,
  loading: 'lazy',
});
const articles = await getCollection('articles');
const presentation = articles.find((a) => a.slug === 'presentation');
if (!presentation) throw new Error('presentation not found');
const { Content: Presentation } = await presentation.render();
---

<Layout title="Ihr KFZ-Meisterbetrieb in Sindelfingen">
  <section class="hero">
    <div
      class="hero-image"
      style={`background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(23, 63, 96, 0.53) 100%), url(${optHero.src})`}
    >
    </div>
    <div class="hero-content">
      <div class="hero-text move-up"><Presentation /></div>
      <div class="hero-cards">
        <div class="card card-transfert">
          <div class="card-content">
            <h2>Wir sind umgezogen:</h2>
            <p>Neckarstrasse 12<br />71065 Sindelfingen</p>
          </div>
        </div>
        <div class="card card-offert">
          <div class="card-content">
            <h2>Reifeneinlagen</h2>
            <p>Profitieren Sie von unseren Eröffnungsrabatten.</p>
            <a href="/reifeneinlagerung">mehr Infos</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="separator separator-top"></div>
  <section
    id="angebot"
    style={`background-image: linear-gradient(180deg,#1221a8 0%,rgba(18,33,168,0.57) 70%),url(${optAngebot.src})`}
  >
    <h2>Unser vielfältiges Angebot</h2>
    <div class="content">
      <div class="text-right">
        <h3>HU und AU</h3>
        <p>Montag, Mittwoch und Freitag von 09:00 – 12:00 Uhr</p>
        <p>
          nimmt bei unserer Freien Werkstatt der TÜV Ihr Auto ganz genau unter
          die Lupe<br />
          und führt die fällige Hauptuntersuchung durch.
        </p>
        <p>
          Ihr Vorteil bei uns: wenn es etwas zu tun gibt,<br />
          werden Reparaturen gleich durchgeführt.
        </p>
        <p>Außerdem überprüft ein modernes AU-Gerät die Abgaswerte!</p>
      </div>
      <div class="services-list">
        <ul class="services services-list-1">
          <li>
            <Icon class="icon" name="mdi:check-circle" /> Reparatur aller Marken
          </li>
          <li><Icon class="icon" name="mdi:check-circle" /> Autoglas</li>
          <li><Icon class="icon" name="mdi:check-circle" /> Reifenservice</li>
          <li>
            <Icon class="icon" name="mdi:check-circle" /> Karosserie-Instandsetzung
          </li>
          <li><Icon class="icon" name="mdi:check-circle" /> Klimaservice</li>
          <li><Icon class="icon" name="mdi:check-circle" /> Oldtimer</li>
          <li>
            <Icon class="icon" name="mdi:check-circle" /> Computerdiagnose
          </li>
        </ul>
        <ul class="services services-list-2">
          <li>
            <Icon class="icon" name="mdi:check-circle" /> TÜV-Hauptuntersuchung
          </li>
          <li><Icon class="icon" name="mdi:check-circle" /> Inspektion</li>
          <li>
            <Icon class="icon" name="mdi:check-circle" /> Autoteile & Zubehör
          </li>
          <li>
            <Icon class="icon" name="mdi:check-circle" /> Reifen einlagern
          </li>
          <li>
            <Icon class="icon" name="mdi:check-circle" /> AU-Abgasuntersuchung
          </li>
          <li><Icon class="icon" name="mdi:check-circle" /> Ersatzteile</li>
          <li>
            <Icon class="icon" name="mdi:check-circle" /> Chiptuning
          </li>
        </ul>
      </div>
    </div>
  </section>
  <div class="separator separator-bottom"></div>
</Layout>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .hero-image {
      background-position: center;
      background-size: cover;
      height: 15rem;
    }
    .hero-content {
      font-family: 'Lato', sans-serif;
      p {
        color: #666;
        font-weight: 500;
        font-size: 0.8rem;
      }
      .hero-text {
        padding: 2.5rem 1rem;
        h1 {
          margin-bottom: 1rem;
          font-weight: 700;
          font-size: 1.5rem;
        }
        p {
          padding-bottom: 0.8rem;
          font-size: 0.8rem;
          line-height: 1.8;
        }
      }
      .hero-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        .card {
          flex: 1;
          .card-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            animation: moveUp 2s ease;
            padding: 2.5rem 0;
            h2 {
              font-weight: 700;
              font-size: 1.15rem;
            }
            p {
              padding: 0 0.5rem;
              text-align: center;
            }
          }
          &.card-transfert {
            background: #becedb;
          }
          &.card-offert {
            background: #ccd8e5;

            a {
              display: inline-block;
              position: relative;
              transition: 0.4s ease;
              border-radius: 5rem;
              background: #ffffff66;
              padding: 0.5rem 1rem;
              color: #455860;
              font-weight: 700;
              font-size: 0.9rem;
              &:hover {
                transform: scale(1.05);
                box-shadow: 0 2px 0.5rem #00000033;
              }
              &:active {
                transform: scale(1);
                box-shadow: none;
              }
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
    @media screen and (min-width: 40rem) {
      .hero-content {
        .hero-text {
          padding: 2.5rem;
        }
        .hero-cards {
          flex-direction: row;
        }
      }
    }
    @media screen and (min-width: 80rem) {
      flex-direction: row;
      .hero-image {
        flex: 1;
        height: initial;
      }
      .hero-content {
        flex: 1;
        .hero-text {
          padding: 4rem 3rem;
        }
      }
    }
  }

  .separator {
    margin-top: calc(var(--angebot-separator-offet-y) * -1);
    background: linear-gradient(
      180deg,
      #1221a8 0%,
      rgba(18, 33, 168, 0.57) 70%
    );
    width: 100%;
    height: var(--angebot-separator-offet-y);
    &.separator-top {
      clip-path: polygon(
        0 0,
        100% var(--angebot-separator-offet-y),
        100% 100%,
        0 100%
      );
    }
    &.separator-bottom {
      clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
    }
  }
  /* Angebot */
  section#angebot {
    position: relative;
    clip-path: polygon(
      0 0,
      100% var(--angebot-section-offset-y),
      100% calc(100% - var(--angebot-section-offset-y)),
      0 100%
    );
    margin-top: calc(var(--angebot-section-offset-y) * -1);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem 1.5rem;
    color: #fff;
    font-family: 'Lato', sans-serif;
    h2 {
      margin-bottom: 4rem;
      font-weight: 700;
      font-size: 1.8rem;
      text-align: center;
      text-transform: uppercase;
    }
    .text-right {
      text-align: right;
      h3 {
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 0.9rem;
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }
    .services-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2rem 0;
      font-size: 0.8rem;
      .services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.3rem;
        width: 100%;
        list-style: none;
        li {
          display: flex;
          align-items: center;
          gap: 1rem;
          .icon {
            font-size: 1.2rem;
          }
        }
      }
    }

    @media screen and (min-width: 80rem) {
      padding: 8rem;
      .content {
        display: flex;
        gap: 3rem;
        .services-list {
          flex-direction: row;
          align-items: center;
          padding: 0;
          .services {
            width: max-content;
          }
        }
      }
    }
  }
</style>

<script>
  function moveUp() {
    const els = document.querySelectorAll(
      '.move-up',
    ) as NodeListOf<HTMLElement>;
    console.log('🚀 ~ :330 ~ moveUp ~ els:', els);
    els.forEach((el) => {
      const elementOffsetTop = el.offsetTop;
      console.log('🚀 ~ :332 ~ moveUp ~ elementOffsetTop:', elementOffsetTop);
      const windowHeight = document.documentElement.clientHeight;
      console.log('🚀 ~ :334 ~ moveUp ~ windowHeight:', windowHeight);
      const windowHeightLimit = windowHeight * 0.5;
      console.log('🚀 ~ :336 ~ moveUp ~ windowHeightLimit:', windowHeightLimit);
      const elementOffsetMoveUp = elementOffsetTop - windowHeightLimit;
      console.log(
        '🚀 ~ :338 ~ moveUp ~ elementOffsetMoveUp:',
        elementOffsetMoveUp,
      );
      document.addEventListener('scroll', () => {
        const scrollY = window.scrollY;
        console.log('🚀 ~ :345 ~ moveUp ~ scrollY:', scrollY);
        if (scrollY > elementOffsetMoveUp) {
          console.log('move up!!!!!');
          el.style.animation = 'moveUp 2s ease-in-out;';
        } else {
          el.style.animation = 'none';
        }
      });
    });
  }

  moveUp();
</script>
