<h3>Replica</h3>

<style>
  h3 {
    --font-size: 4rem;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%) rotate(-45deg);
    opacity: 0.5;
    z-index: 10;
    background: transparent;
    pointer-events: none;
    color: orangered;
    font-size: var(--font-size);

    @media screen and (min-width: 40rem) {
      --font-size: 8rem;
    }
  }
</style>
