<h3>Replica</h3>

<style>
  h3 {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
    opacity: 0.5;
    background: transparent;
    width: 100%;
    height: 100svh;
    color: orangered;
    font-size: 4rem;
    @media screen and (min-width: 40rem) {
      font-size: 8rem;
    }
  }
</style>
