---
import '../styles/global.css';
import { Image } from 'astro:assets';
import Menu from '@/components/Menu.astro';
import Footer from '@/components/Footer.astro';
import { Icon } from 'astro-icon/components';
import logo from '@/images/logo_carklinik_weiss.png';
import Replica from '@/components/Replica.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/jpg" href="/logo_quadrat-48x48.jpg" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="generator" content={Astro.generator} />
    <title>carklinik24 | {title}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="canonical" href="https://www.carklinik24.de/" />
    <link rel="shortlink" href="https://www.carklinik24.de/" />
  </head>

  <!-- BODY -->
  <body>
    <Replica />

    <!-- FIXED BAR -->
    <div class="fixed-bar">
      <div class="content">
        <div class="contacts">
          <span>
            <Icon class="data-icon" name="mdi:phone" />
            <a class="phone" href="tel:+49070316790837">+49 07031 67 90 837</a>
          </span>
          <span>
            <Icon name="mdi:email" />
            <a href="mailto:info@carklinik24.de">info@carklinik24.de </a>
          </span>
        </div>
        <div id="burger-menu">
          <Menu />
          <div id="burger-btn"><span></span><span></span><span></span></div>
        </div>
      </div>
    </div>

    <div id="top"></div>

    <!-- HEADER -->
    <header>
      <div class="content">
        <a class="logo" href="/">
          <Image
            src={logo}
            alt="logo"
            height={161}
            loading="eager"
            format="webp"
          />
        </a>
        <section class="menu"><Menu /></section>
      </div>
    </header>
    <slot />
    <Footer />
  </body>
</html>

<style>
  .fixed-bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: #1221a8;
    width: 100svw;
    height: var(--fixed-bar-height);
    .content {
      position: relative;

      align-items: center;
      .contacts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.1rem 1rem;
        padding: 0.2rem 2rem 0.2rem 0.45rem;
        height: 100%;
        color: #fff;
        span {
          display: flex;
          align-items: center;
          gap: 0.1rem;
          font-size: 0.6rem;
          a {
            font-weight: 600;
          }
        }
      }
      #burger-menu {
        display: flex;
        position: absolute;
        top: 0;
        justify-content: center;
        z-index: 10;
        background: #2b3a44;
        width: 100%;
        menu {
          --height: min(30rem, 100svh);
          gap: 2rem;
          z-index: 1000;
          height: var(--height);
          font-size: 1.2rem;
        }
        #burger-btn {
          display: flex;
          position: absolute;
          top: 0.5rem;
          right: 0.6rem;
          flex-direction: column;
          justify-content: center;
          gap: 0.25rem;
          cursor: pointer;
          width: 1rem;
          height: 1rem;
          span {
            display: block;
            transition: 0.5s;
            background: #fff;
            width: 1rem;
            height: 1px;
          }
        }
        &.open {
          menu {
            padding: 2rem 0;
            max-height: var(--height);
          }
          #burger-btn {
            span:first-of-type {
              transform: translateY(0.3rem) rotate(135deg);
            }
            span:nth-of-type(2) {
              transform: rotate(135deg);
              opacity: 0;
            }
            span:last-of-type {
              transform: translateY(-0.3rem) rotate(-135deg);
            }
          }
        }
      }
    }
    @media screen and (min-width: 40rem) {
      .content {
        .contacts {
          justify-content: end;
          padding-right: 0;
        }
        #burger-menu {
          display: none;
        }
      }
    }
  }
  header {
    position: relative;
    margin-top: var(--fixed-bar-height);
    background: #2b3a44;
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      height: 4rem;
      .logo {
        cursor: pointer;
        img {
          width: auto;
          height: 1.7rem;
        }
      }
      .menu {
        display: none;
        li a {
          font-size: 0.9rem;
        }
      }
    }
    @media screen and (min-width: 40rem) {
      z-index: initial;
      .content {
        justify-content: space-between;
        .menu {
          display: flex;
        }
      }
    }
  }
</style>

<script>
  const burgerMenuEl = document.getElementById('burger-menu') as HTMLDivElement;
  const menuLiEls = burgerMenuEl.querySelectorAll(
    'menu li',
  ) as NodeListOf<HTMLLIElement>;
  const burgerBtnEl = burgerMenuEl.querySelector(
    '#burger-btn',
  ) as HTMLDivElement;

  burgerBtnEl.addEventListener('click', () => {
    burgerMenuEl.classList.toggle('open');
  });
  document.addEventListener('click', (e) => {
    const target = e.target as Node;
    if (!burgerMenuEl.contains(target)) {
      burgerMenuEl.classList.remove('open');
    }
  });
  menuLiEls.forEach((li) => {
    li.addEventListener('click', () => {
      burgerMenuEl.classList.remove('open');
    });
  });
</script>
